/* Contact page */
.contact{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 90%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: space-around;
    margin-top: 4vh;
}
form input{
    height: 5vh;
}
.form-text{
    border: 0;
    border-radius: 1%;
    background-color: rgb(241, 247, 255,0.5);
    width:40vw;
    transition: 1s;
}
.form-text:hover{
    box-shadow: 1px 1px 3px 2px #404da3;
}
::placeholder{
    color: #404da3;
}
.btndiv{
    display: flex;
    justify-content: center;
    gap:1vw;
}
.button{
    border:0;
    width: 10vw;
    border-radius: 1%;
    background-color: rgb(241, 247, 255,0.5);
    transition: 1s;
 }
 .button:hover{
    background-color: #404da3;
    color: #fff;
 }
