body {
    background-image: url("https://images.unsplash.com/photo-1633821051688-fc558b716185?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=456&q=80");
    margin:0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
}
header {
    background-color: rgb(64, 77, 163,0.9);
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table img{
    height: 5rem;
    float:right;
    display: flex;
}
.flag{
    order:2;
    width:7vw;
}
h1:hover{
    text-shadow: 2px 2px 5px #2124f5;
}

/* Navbar  */
.top-heading{
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 2px 5px #2124f5;
    margin: 1%;
    order:0;
}
nav{
    order: 1;
    display: flex;
    align-items: center;
    margin-right: 6%;
}
nav ul{
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav a{
    text-decoration:none;
}
nav a:hover{
    color: #88c4fc;
}
/* Home page */
section{
    background-color: rgb(241, 247, 255,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    gap:5vh;
}
.welcome{
    margin: auto;
}
.index-sec h1{
    font-size: xx-large;
}
.img1,.img2{
   width:30vw;
}
.sec-imgs{
 display: flex;
 gap:8vw;
}

/*Footer */

footer{
    opacity: 0.9;
    background-color: rgb(64, 77, 163,0.9);
    height: fit-content;
    margin: auto;
    width:100%;
}
details{
    padding-top: 3rem;
    width: 17rem;
    margin: auto;
}
details summary:hover{
    color: #88c4fc;
}
details > summary {
    list-style-type: none;  
    cursor: pointer;
    text-align: center;
    color: #fff;
}
 details ul{
    list-style: none;
  }
li a{
    color: #fff;
    text-decoration: none;
}
li a:hover{
    color: #C5DFF8;
}
details li::before {
    content: "• ";
    color: #88c4fc;
}
.icons{
    padding: 1rem;
    margin: auto;
    text-align: center;
}
.icons a{
    padding: 1rem; 
    text-decoration: none;
    color:#fff;
}
.icons a:hover{
    color: #88c4fc;
}
footer p {
    word-spacing: 0.5rem;
    text-align: center;
    font-size: smaller;
    color:#fff;
}
