body {
    background-image: url("https://images.unsplash.com/photo-1633821051688-fc558b716185?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=456&q=80");
    margin:0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
header {
    background-color: rgb(64, 77, 163,0.9);
    height: 5rem;
    display: flex;
}
.flag, table img{
    height: 5rem;
    float:right;
    display: flex;
}
section{
    background-color: rgb(241, 247, 255,0.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h1:hover{
    text-shadow: 2px 2px 5px #2124f5;
}

/* Navbar  */
.top-heading{
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 2px 5px #2124f5;
    margin: 1rem;
}
nav ul{
    display: flex;
    gap: 1vw;
}
nav ul li{
    list-style: none;
}
nav a{
    text-decoration:none;
}
nav a:hover{
    color: #88c4fc;
}
/* Home page */

.index-sec{
    height: 30rem;
    padding: 3rem;
}
.index-sec h1{
    font-size: xx-large;
}
.welcome{
    margin-bottom: 2rem;
}
.img1,.img2{
    height:20rem;
}
.img2{
    margin-left:12rem;
}
.sec-imgs{
    margin-top: 1rem;
    display: inline-block
}

/*Footer */

footer{
    opacity: 0.9;
    background-color: rgb(64, 77, 163,0.9);
    height: 17rem;
    margin: auto;
    width:100%;
}
details{
    padding-top: 3rem;
    width: 17rem;
    margin: auto;
}
details summary:hover{
    color: #88c4fc;
}
details > summary {
    list-style-type: none;  
    cursor: pointer;
    text-align: center;
    color: #fff;
}
 details ul{
    list-style: none;
  }
li a{
    color: #fff;
    text-decoration: none;
}
li a:hover{
    color: #C5DFF8;
}
details li::before {
    content: "• ";
    color: #88c4fc;
}
.icons{
    padding: 1rem;
    margin: auto;
    text-align: center;
}
.icons a{
    padding: 1rem; 
    text-decoration: none;
    color:#fff;
}
.icons a:hover{
    color: #88c4fc;
}
footer p {
    word-spacing: 0.5rem;
    text-align: center;
    font-size: smaller;
    color:#fff;
}
